    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    nav{
        background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;

    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.5;
    }

    header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 1em;
    }

    h1 {
        margin: 0;
        font-size: 2em;
    }

    h2 {
        margin-top: 1.5em;
        font-size: 1.5em;
    }

    form {
        margin-top: 1em;
    }

    input[type="file"] {
        display: block;
        margin-bottom: 1em;
    }

    button[type="submit"] {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1em;
    }

    li {
        border: 1px solid #ccc;
        padding: 1em;
    }

    img {
        max-width: 100%;
        height: auto;
    }